<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>班级一览</title>
    <link href="lib/ligerUI/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
    <script src="lib/jquery/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script src="lib/ligerUI/js/core/base.js" type="text/javascript"></script>
    <script src="lib/ligerUI/js/plugins/ligerGrid.js" type="text/javascript"></script> 
    <script type="text/javascript">
        $(function () {

            $("#pageloading").hide();
        });
        function search_click()
        {
        }
        function regist_click()
        {
			location.href = "class_add.html";
        }
    </script>
</head>
<body style="padding:6px; overflow:hidden;">
<div id="pageloading"></div>  
<div id="searchbar">
    编号或名称：<input id="txtKey" type="text" />
    <input id="search" type="button" value=" 查 询 " onclick="search_click()" />
</div>
	<br>
	<table width="800" border="1" cellpadding="0" cellspacing="0" bordercolor="#999999">
	  <tr style="background:blue;"  >
		<th height="20" scope="row" style="text-align:center;vertical-align:middle"><font color=white>班级编号</font></th>
		<th height="20" scope="row" style="text-align:center;vertical-align:middle"><font color=white>班级名称</font></th>
		<th height="20" scope="row" style="text-align:center;vertical-align:middle"><font color=white>开始日期</font></th>
		<th height="20" scope="row" style="text-align:center;vertical-align:middle"><font color=white>结束日期</font></th>
		<th height="20" scope="row" style="text-align:center;vertical-align:middle"><font color=white>班主任</font></th>
		<th height="20" scope="row" style="text-align:center;vertical-align:middle"><font color=white>教室</font></th>
		<th height="20" scope="row" style="text-align:center;vertical-align:middle"><font color=white>人数</font></th>
		<th height="20" scope="row" style="text-align:center;vertical-align:middle"><font color=white>状态</font></th>
	  </tr>
	  <tr>
		<th height="20" scope="row"><a href="works_subject.html">C2014001<a></th>
		<th height="20" scope="row">建筑动画班</th>
		<th height="20" scope="row">20140101</th>
		<th height="20" scope="row">20141231</th>
		<th height="20" scope="row">张三</th>
		<th height="20" scope="row">F0501</th>
		<th height="20" scope="row">15</th>
		<th height="20" scope="row">招生</th>
	  </tr>
	  <tr>
		<th height="20" scope="row"><a href="works_subject.html">C2014002<a></th>
		<th height="20" scope="row">室内设计班</th>
		<th height="20" scope="row">20140101</th>
		<th height="20" scope="row">20141231</th>
		<th height="20" scope="row">李四</th>
		<th height="20" scope="row">F0502</th>
		<th height="20" scope="row">20</th>
		<th height="20" scope="row">开课</th>
	  </tr>
	</table>
</div> 
</body>
</html>
